# See https://docs.github.com/get-started/getting-started-with-git/ignoring-files for more about ignoring files.

# Env variables
.env*
!.env.example
src/environment/*
!src/environment/environment.example.ts

# Compiled outputs
/dist
/tmp

# Node
node_modules/
npm-debug.log

# IDEs and editors
.idea/


# Other
/.angular/cache
